
<!-- footer -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>U. Mekason Steel Co. Ltd.</h3>
            <ul class="list-unstyled footer_contact">
              <li><a href=""><span class="fa fa-map-marker"></span> 52 Kenyatta Street, Enugu, Nigeria</a></li>
              <li><a href=""><span class="fa fa-envelope"></span> umekason@gmail.com</a></li>
              <li><a href=""><span class="fa fa-mobile"></span> 08033165667 <br /> 08052339058</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Quick Navigation</h4>
            <ul>
              <li><a href="./main">Home</a></li>
              <li><a href="./about">About Us</a></li>
              <li><a href="./cart">Services</a></li>
              <li><a href="./contact">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><a href="./cart">Cement</a></li>
              <li><a href="./truck">Trucks</a></li>
              <li><a href="./cart">Rods</a></li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Daily Quote</h4>
            <p>Building a strong foundation starts with quality materials, and that's where we come in. Our premium cement and rod products ensure that your construction projects are durable, reliable,
              and built to last. Let us help you build your dreams with confidence and peace of mind.</p>
          </div>
  
        </div>
      </div>
    </div>
    <div class="container-fluid footer-bottom">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">&copy; U. Mekason Steel Co. Ltd. | All Rights Reserved</p>
        </div>
      </div>
    </div>
  </footer>
  
  <!-- footer end -->
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>