<%- include("partials/header") -%>

<section id="about">
    <div class="container about-container">
      <h1 class="text-center mb-5">ABOUT US</h1>
      <div class="row align-items-center">
        <div class="col-md-6 py-3 py-md-0">





          <div class="card border-0">
            <img src="./img/ume2.jpg" class="card-img-top" alt="Company Image">
          </div>
        </div>
        <div class="col-md-6 py-3 py-md-0">
          <h2 class="mb-3">U. MEKASON STEEL TRADING COMPANY LIMITED</h2>
          <p class="lead mb-4">U. Mekason Steel Trading Company Limited was incorporated in Enugu, Nigeria with Registration Number 705986. It was registered on 29 Aug 2007. The company's registered office address is No.64, Kenyatta Street, Uwani, Enugu, Enugu.</p>
          <p class="mb-4">We have been in the cement industry for many years, and during this time, we have built a reputation for excellence and innovation. Our commitment to quality, sustainability, and social responsibility sets us apart from other cement companies.</p>
          <div class="mb-4">
            <a href="./cart" class="btn know_btn me-3">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
</section>

<%- include("partials/footer") -%>