<%- include("partials/header") -%>

<!-- home content -->
<section id="home" class="home">
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Carousel-inner -->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <video autoplay muted loop class="intro-video">
          <source src="./img/ume-video1.mp4" type="video/mp4" />
          <source src="./img/ume-video1.webm" type="video/webm" />
          Your browser does not support the video tag.
        </video>
        <div class="overlay">
          <div class="carousel-caption">
            <h1>
              <span>F</span>ast and <span>R</span>eliable
              <br />
              Distributor
            </h1>
            <a href="/cart" id="buy-now" class="btn know_btn">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <video autoplay muted loop class="intro-video">
          <source src="./img/ume-video3.mp4" type="video/mp4" />
          <source src="./img/ume-video3.webm" type="video/webm" />
          Your browser does not support the video tag.
        </video>
        <div class="overlay">
          <div class="carousel-caption">
            <h1>
              <span>F</span>ast and <span>R</span>eliable
              <br />
              Distributor
            </h1>
            <a href="/cart" id="buy-now" class="btn know_btn">Buy Now</a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <video autoplay muted loop class="intro-video">
          <source src="./img/ume-video2.mp4" type="video/mp4" />
          <source src="./img/ume-video2.webm" type="video/webm" />
          Your browser does not support the video tag.
        </video>
        <div class="overlay">
          <div class="carousel-caption">
            <h1>
              <span>F</span>ast and <span>R</span>eliable
              <br />
              Distributor
            </h1>
            <a href="/cart" id="buy-now" class="btn know_btn" href="./cart">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    <a
      class="left carousel-control-prev"
      href="#carousel"
      role="button"
      data-bs-slide="prev"
    >
      <span class="fa fa-angle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="right carousel-control-next"
      href="#carousel"
      role="button"
      data-bs-slide="next"
    >
      <span class="fa fa-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<!-- Carousel-inner end -->
<!-- home content -->

<!-- Our Products -->
<section id="services">
  <div class="container">
    <h2>OUR FAST SERVICES</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="service_item">
          <img src="img/ume-rod1.jpeg" alt="Our Services" />
          <h3>DISTRIBUTOR OF RODS</h3>
          <p>
            At U Mekason we sell quality rods of different lengths at wholesale
            prices.
          </p>
          <a href="./cart" class="btn know_btn">Buy Now</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service_item">
          <img src="img/ume-truck1.jpg" alt="Our Services" />
          <h3>FAST DELIVERY</h3>
          <p>
            Our 179 trucks are avaliable to deliver to any part of the country
            in real time. Check out avaliable trucks.
          </p>
          <a href="./truck" class="btn know_btn">Order Truck</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service_item">
          <img src="img/ume-cement1.jpg" alt="Our Services" />
          <h3>DISTRIBUTOR OF CEMENT</h3>
          <p>
            We are major Distributor of cement in Lafarge, Dangote and Bua. Buy
            at wholesale price
          </p>
          <a href="./cart" class="btn know_btn">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Products end -->

<!-- why chose us -->
<section id="why_us">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="head_title">
          <h2>WHY CHOOSE US?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="why_us_item">
          <span class="fa-regular fa-clock fa-lg"></span>
          <h4>Timely Delivery</h4>
          <p>
            We have enough well-maintained trucks to cover all our customers
            requests.
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="why_us_item">
          <span class="fa-solid fa-shield fa-lg"></span>
          <h4>Insurance on Goods</h4>
          <p>We guarantee safe delivery to all our customers</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="why_us_item">
          <span class="fa-solid fa-truck-fast fa-lg"></span>
          <h4>Advance Tracking</h4>
          <p>We provide tracking technology to all our customers.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="why_us_item">
          <span class="fa-solid fa-phone-volume fa-lg"></span>
          <h4>Customer Support</h4>
          <p>We provide 6-6 support system to our customers.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- why chose us end -->

<!-- testimonials started -->

<section id="testimonies">
  <div class="container">
    <h1 class="section-header">Our Customers Review</h1>
    <div class="testimonials">
      <form action="/carousel" method="post">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="single-item">
              <div class="row">
                <div class="col-md-5">
                  <div class="profile">
                    <div class="img-area">
                      <img src="img/ume-default.png" alt="" />
                    </div>
                    <div class="bio">
                      <h2>U Mekason</h2>
                      <h4>Sub Distributor</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="content">
                    <p>
                      <span><i class="fa fa-quote-left"></i></span>I have never
                      had issue since I started buying from U Mekason. They are
                      the best in what they do.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="single-item">
              <div class="row">
                <div class="col-md-5">
                  <div class="profile">
                    <div class="img-area">
                      <img src="img/ume-default.png" alt="" />
                    </div>
                    <div class="bio">
                      <h2>U Mekason</h2>
                      <h4>Contractor</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="content">
                    <p>
                      <span><i class="fa fa-quote-left"></i></span>When you buy
                      from U Mekason, you'll surely get what you paid for, no
                      shortage in their supply.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="single-item">
              <div class="row">
                <div class="col-md-5">
                  <div class="profile">
                    <div class="img-area">
                      <img src="img/ume-default.png" alt="" />
                    </div>
                    <div class="bio">
                      <h2>U Mekason</h2>
                      <h4>Marketer</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="content">
                    <p>
                      <span><i class="fa fa-quote-left"></i></span>U Mekason are
                      very fast in their delivery. I like buying from them.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </form>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- end of testimony -->

<!-- about -->
<section id="about">
  <div class="container about-container">
    <h1 class="text-center mb-5">ABOUT US</h1>
    <div class="row align-items-center">
      <div class="col-md-6 py-3 py-md-0">
        <div class="card border-0">
          <img src="./img/ume2.jpg" class="card-img-top" alt="Company Image" />
        </div>
      </div>
      <div class="col-md-6 py-3 py-md-0">
        <h2 class="mb-3">U. MEKASON STEEL TRADING COMPANY LIMITED</h2>
        <p class="lead mb-4">
          U. Mekason Steel Trading Company Limited was incorporated in Enugu,
          Nigeria with Registration Number 705986. It was registered on 29 Aug
          2007. The company's registered office address is No.64, Kenyatta
          Street, Uwani, Enugu, Enugu.
        </p>
        <p class="mb-4">
          We have been in the cement industry for many years, and during this
          time, we have built a reputation for excellence and innovation. Our
          commitment to quality, sustainability, and social responsibility sets
          us apart from other cement companies.
        </p>
        <div class="mb-4">
          <a href="./cart" class="btn know_btn me-3">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of about -->

<!-- our partners -->
<section id="partners">
  <div class="container partners-container">
    <h1>OUR PARTNERS</h1>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="partner-card">
          <img src="./img/dangote-logo.png" alt="" />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="partner-card">
          <img src="./img/lafarge-logo.png" alt="" />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="partner-card">
          <img src="./img/unicem-logo.png" alt="" />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="partner-card">
          <img src="./img/ume-rod2.jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of partners -->

<%- include("partials/footer") -%>
