<%- include('partials/header') -%>

<div class="container" id="truck">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Coming Soon...</h1>
      <p>We're working on making our trucks available online. Stay tuned!</p>
      <br />
      <div class="timer text-center"></div>
      <p>
        While waiting, kindly reach us through hotlines to book truck
        <span><br />08033165667<br />08052339058 </span>
      </p>
    </div>
  </div>
</div>

<script src="js/script.js"></script>
<script>
  window.onload = function() {
    countDown();
  };
</script>
<%- include('partials/footer') -%>
